:root {
	--background: #134f11;
	--deck: #3a1f04;
	--text: white;
}

* {
	padding: 0px;
	margin: 0px;
	font-family: 'Teko', sans-serif;
	font-size: 1.25em;
}

body {
	background-color: var(--background);
}

button {
	width: 25%;
	height: 30%;
	margin: 15px;
	font-size: 30px;

	background-color: white;
	color: black;
	border: none;
	border-radius: 20px;
}

button:hover {
	background-color: whitesmoke;
}

button:active {
	scale: 90%;
}

.shadow {
	box-shadow: 5px 5px 6px black, 5px -5px 6px black, -5px 5px 6px black,
		-5px -5px 6px black;
}

.gameBoard {
	width: 100vw;
	height: 90vh;
	margin-top: 5vh;

	display: grid;
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-template-rows: 3fr 1fr 3fr 2fr;
	grid-template-areas:
		'left dealer rightDealer'
		'left between rightText'
		'left player rightPlayer'
		'left buttons right';
}

.deck {
	width: 100%;
	height: 100%;
	background-color: var(--deck);
	border-radius: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.deck img {
	width: 151px;
	height: 210px;

	margin: 5px;
	border-radius: 15px;
}

.dealer {
	grid-area: dealer;
}

.dealerValue {
	grid-area: rightDealer;
	margin: 12px;
	color: var(--text);
}

.playerValue {
	grid-area: rightPlayer;
	margin: 12px;
	color: var(--text);
}

.player {
	grid-area: player;
}

.text {
	grid-area: between;
	justify-self: center;
	align-self: center;
	color: var(--text);
}

#roundButton {
	grid-area: between;
	height: 60%;
	align-self: center;
	justify-self: right;
}

.buttons {
	width: 100%;
	height: 100%;
	grid-area: buttons;

	display: flex;
	align-items: center;
	justify-content: center;
}
